:host {
  .about-us {
    width: 100%;
    height: 100vh;
    background-image: url("../../../../assets/images/home_2.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;

    mat-card {
      margin-right: 25%;
      margin-left: 25%;
    }

    .content {
      font-family: monospace;
    }

    .mat-card {
      opacity: 0.8;
    }
  }

}
