:host {
  form {
    padding-top: 15px;
  }
  .col-space {
    margin-right: 15px;
  }
  .btn-reset {
    margin-right: 15px;
    margin-bottom: 5px;
  }

  .btn-login {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .login-actions {
    display: flex;
    justify-content: space-between;
  }

  .no-outline {
    outline: none;
    font-size: 12px;
  }
}