<div class="users">
    <mat-card matRipple *ngFor="let user of users" class="mat-elevation-z8">
        <mat-card-content>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 d-flex justify-content-around">
                        <mat-icon matBadge="GJ" matBadgeColor="warn">person</mat-icon>
                        <span>{{user.userName}} ({{user.userId}})</span>
                    </div>
                    <div class="col-4 d-flex justify-content-around">
                        <mat-icon>contact_mail</mat-icon>
                        {{user.email}}
                    </div>
                    <div class="col-4 d-flex justify-content-around">
                        <mat-icon [matBadge]="getUserBadge(user.userName)" matBadgeColor="warn">phone</mat-icon>
                        <mat-chip-list>
                            <mat-chip color="primary" selected>{{user.phNo}}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>
