:host {

  .cruise-header {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .cruise-actions {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;

    h4 {
      color: #3f51b5;
    }
  }

  .header {
    max-height: 50px;
  }


  .cruise-grid {
    width: 100%;
    padding: 1%;
    background-image: url("../../../../assets/images/home_5.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    mat-grid-tile {
      min-height: 450px;

      mat-card {
        min-height: 390px !important;
        max-height: 390px !important;

        mat-card-header {
          padding-bottom: 5px;
        }

        mat-card-content {
          div {
            max-height: 40px;
            min-height: 40px;
            text-overflow: ellipsis;
            overflow: overlay;
          }
        }

        .mat-card-avatar {
          background-size: cover;
        }
      }
    }
  }

  .no-outline {
    outline: none;
  }
}
