<div class="show-feedback">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let feedback of feedbacks">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{feedback.fullName}}
                </mat-panel-title>
                <mat-panel-description>
                    {{feedback.subject}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="d-flex">
                <div>{{feedback.email}} </div>
                <div>{{feedback.message}} </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
